<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Travel Dashboard</title>
    </head>
    <body>
        <header>
            <h3>Hello, {{user.name}}</h3>
            <a href="/logout">Logout</a>
        </header>
        <p>Your Trip Schedules</p>
        <table>
            <thead>
                <tr>
                    <th>Destination</th>
                    <th>Travel Start Date</th>
                    <th>Travel End Date</th>
                    <th>Plan</th>
                </tr>
            </thead>
            <tbody>
                {% for dest in destinations %}
                <tr>
                    <td><a href="/travels/destination/{{dest.id}}">{{dest.destination}}</a></td>
                    <td>{{dest.from_date}}</td>
                    <td>{{dest.to_date}}</td>
                    <td>{{dest.description}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>Other User's Travel Plans</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Destination</th>
                    <th>Travel Start Date</th>
                    <th>Travel End Date</th>
                    <th>Do You Want to Join</th>
                </tr>
            </thead>
            <tbody>
                {% for travel in other_destinations %}
                <tr>
                    <td>{{travel.user.name}}</td>
                    <td><a href="/travels/destination/{{travel.id}}">{{travel.destination}}</a></td>
                    <td>{{travel.from_date}}</td>
                    <td>{{travel.to_date}}</td>
                    <td><a href="/join/{{travel.id}}">Join</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/travels/add">Add Travel Plan</a>


    </body>
</html>
